<h1>New Img Signal</h1>

<form enctype="multipart/form-data" action="/img_signals" method="post">
    <p>
      <strong>g</strong><input type="file" name="file">
    </p>
    
    <input type="submit">
</form>

<%= link_to 'Back', img_signals_path %>
