<p id="notice"><%= notice %></p>

<%
file = ""
File.open("logg", "r") do |f|
  f.each_line do |line|
    file = line
  end
end
%>

<%p "#"*200
    p file.gsub("\n",'')
%>

<img width="350" height="350" src="<%= file %>">

<%= link_to 'Edit', edit_img_signal_path(@img_signal) %> |
<%= link_to 'Back', img_signals_path %>
